<template>
  <div class="activities-view">
    <div class="modal" :style="{ display: isModalOpen ? 'block' : 'none' }">
      <div class="modal-title">
        <h3>{{ project.Name }}</h3>
        <b-button variant="outline-danger" @click="isModalOpen = false"
          >X</b-button
        >
      </div>
      <div><b>ID:</b> {{ project.ID }}</div>
      <div><b>Nome:</b> {{ project.Name }}</div>
      <div><b>Data inizio:</b> {{ project.StartDate }}</div>
      <div><b>Data fine:</b> {{ project.EndDate }}</div>
      <div><b>Assegnato a:</b> {{ tech }}</div>
      <div><b>Prezzo venduto:</b> {{ project.SellPrice }}</div>
      <div><b>Prezzo vendita:</b> {{ project.Cost }}</div>
      <div><b>Ore previste:</b> {{ project.ExpectedTime }}</div>
      <div><b>Durata attuale:</b> {{ project.WorkedTime }}</div>
      <div><b>Stato:</b> {{ project.State }}</div>
      <div><b>Priorità:</b> {{ project.Priority }}</div>
    </div>

    <div class="header">
      <h3>{{ project.Name }}</h3>
      <div class="triple-dots" @click="isModalOpen = true">
        <svg class="svg-icon-dots" viewBox="0 0 20 20">
          <path
            fill="black"
            d="M3.936,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021S5.957,11.116,5.957,10
								S5.052,7.979,3.936,7.979z M3.936,11.011c-0.558,0-1.011-0.452-1.011-1.011s0.453-1.011,1.011-1.011S4.946,9.441,4.946,10
								S4.494,11.011,3.936,11.011z M16.064,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021s2.021-0.905,2.021-2.021
								S17.181,7.979,16.064,7.979z M16.064,11.011c-0.559,0-1.011-0.452-1.011-1.011s0.452-1.011,1.011-1.011S17.075,9.441,17.075,10
								S16.623,11.011,16.064,11.011z M10,7.979c-1.116,0-2.021,0.905-2.021,2.021S8.884,12.021,10,12.021s2.021-0.905,2.021-2.021
								S11.116,7.979,10,7.979z M10,11.011c-0.558,0-1.011-0.452-1.011-1.011S9.442,8.989,10,8.989S11.011,9.441,11.011,10
								S10.558,11.011,10,11.011z"
          ></path>
        </svg>
      </div>
    </div>

    <div
      class="activity-card"
      v-for="(activity, index) in activities"
      :key="index"
      @click="cardClick(activity)"
    >
      <div>
        <h4>{{ activity.Name }}</h4>
        <div>
          TASK
          {{ activity.Tasks.filter((t) => t.State === completed).length }}/{{
            activity.Tasks.length
          }}
        </div>
        <div class="activity-card-status">
          <div
            class="circle"
            :style="{
              backgroundColor:
                activity.State === started || activity.State === completed
                  ? 'green'
                  : activity.State === stopped
                  ? 'orange'
                  : 'red',
            }"
          >
            <svg
              v-if="activity.State === completed"
              class="svg-icon"
              viewbox="0 0 20 20"
            >
              <path
                fill="white"
                d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              ></path>
            </svg>
          </div>
          <div class="activity-card-status-text">{{ activity.State }}</div>
        </div>
      </div>
      <div class="activity-card-information">
        <div>{{ activity.Progress }}%</div>
        <div>N. Tecnici {{ activity.Technicians.length }}</div>
        <div>
          {{ activity.StartDate }} -
          {{ activity.EndDate }}
        </div>
      </div>
    </div>

    <h3 class="title">Attività</h3>
    <div class="table-pagination-limit">
      <span>Visualizza</span>
      <select v-model.number="pageNumber">
        <option v-for="i in totalActivities" :key="i">
          {{ i }}
        </option>
      </select>
      <span>attività</span>
    </div>
    <b-table
      :striped="true"
      :hover="true"
      :bordered="true"
      :outlined="true"
      :no-border-collapse="true"
      :responsive="true"
      :fields="fields"
      :busy="loading"
      :items="activities"
      :per-page="pageNumber"
      :current-page="currentPage"
      @row-clicked="activityDetails"
      class="activities-table"
    >
      <template #cell(State)="data">
        <div
          class="circle"
          :style="{
            backgroundColor:
              data.value === started || data.value === completed
                ? 'green'
                : data.value === stopped
                ? 'orange'
                : 'red',
          }"
        >
          <svg
            v-if="data.value === completed"
            class="svg-icon"
            viewbox="0 0 20 20"
          >
            <path
              fill="white"
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            ></path>
          </svg>
        </div>
      </template>
    </b-table>
    <b-pagination
      :total-rows="totalActivities"
      :per-page="pageNumber"
      v-model="currentPage"
      class="table-pagination"
    >
    </b-pagination>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (max-width: 574px) {
  .activity-card {
    display: flex;
  }
  .header {
    display: flex;
  }
  .title {
    display: none;
  }
  .table-pagination-limit {
    display: none;
  }
  .activities-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
  .modal {
    display: block;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .activity-card {
    display: flex;
  }
  .header {
    display: flex;
  }
  .table-pagination-limit {
    display: none;
  }
  .activities-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
  .modal {
    display: block;
  }
  .title {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .activity-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .activities-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .activity-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .activities-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .activity-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .activities-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 1600px) {
  .activity-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .activities-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

.activities-view {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

.modal {
  padding: 10px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  z-index: 1000;
  position: fixed;
  background-color: white;
  color: black;
  height: auto;
  width: 90%;
  top: 20%;
  left: 5%;
  word-wrap: break-word;
  word-break: keep-all;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
}

.activity-card {
  width: 100%;
  height: 150px;
  flex-direction: row;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-status {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    &-text {
      margin-left: 10px;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: right;
  }
}

.header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    margin: 0;
  }
}

.table-pagination-limit {
  flex-direction: row;
  height: auto;
  align-items: center;
  margin-bottom: 20px;
}

.activities-table {
  height: auto;
  width: 100%;
}

.first-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: auto;
}

.mini-title {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.triple-dots {
  height: 35px;
  width: 35px;
}

.circle {
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.svg-icon {
  height: 20px;
  width: 20px;

  &-dots {
    height: 35px;
    width: 35px;
    transform: rotate(90deg);
  }
}
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import ActivitiesService from "../services/ActivitiesService";
import Technician from "@/models/Technician";
import Activity from "@/models/Activity";
import { Status } from "@/models/Status";
import { State } from "@/models/State";
import Filter from "@/models/Filter";
import Project from "@/models/Project";
import TechnicianService from "@/services/TechnicianService";
import ProjectsService from "@/services/ProjectsService";

@Component
export default class ActivitiesView extends Vue {
  private activityService: ActivitiesService;
  private techService: TechnicianService;
  private projectService: ProjectsService;

  private activities?: Array<Activity>;
  private project?: Project;
  private projectId: string;

  private fields = [
    { key: "Name", sortable: true, label: "Nome" },
    { key: "StartDate", sortable: true, label: "Data Inizio" },
    { key: "EndDate", sortable: true, label: "Data Fine" },
    { key: "ExpectedTime", sortable: true, label: "Tempo Previsto" },
    { key: "WorkedTime", sortable: true, label: "Durata attuale" },
    { key: "State", sortable: false, label: "Stato" },
  ];

  private started: State;
  private stopped: State;
  private completed: State;
  private deleted: State;

  private loading: boolean;
  private noActivity: boolean;
  private isModalOpen: boolean;

  private pageNumber: number;
  private currentPage: number;
  private totalActivities?: number;

  private tech?: string;

  private filter: Filter;

  private name?: string;
  private startDate?: string;
  private endDate?: string;
  private expectedHour?: number;
  private workedHour?: number;

  public constructor() {
    super();
    this.activityService = new ActivitiesService();
    this.techService = new TechnicianService();
    this.projectService = new ProjectsService();

    this.activities = new Array<Activity>();

    this.projectId = JSON.parse(this.$route.params.projectId);

    this.project = {
      ID: this.projectId,
      Name: "",
      Cost: 0,
    };

    this.started = State.Started;
    this.completed = State.Completed;
    this.stopped = State.Stopped;
    this.deleted = State.Deleted;

    this.loading = false;
    this.noActivity = false;
    this.isModalOpen = false;

    this.tech = "";

    this.filter = {
      StartDate: this.startDate,
      EndDate: this.endDate,
      ExpectedTime: this.expectedHour,
      WorkedTime: this.workedHour,
      Name: this.name,
    };

    this.pageNumber = 3;
    this.currentPage = 1;
    this.totalActivities = this.activities?.length;
  }

  async activityDetails(
    item: Activity,
    index: number,
    event: any
  ): Promise<void> {
    this.$router.push({
      name: "ActivityIndex",
      params: { activity: JSON.stringify(item) },
    });
  }

  async cardClick(activity: Activity): Promise<void> {
    this.$router.push({
      name: "TaskView",
      params: { activityId: JSON.stringify(activity?.ID) },
    });
  }

  async mounted(): Promise<void> {
    this.loading = true;

    let projectResult = await this.projectService.get([this.projectId]);

    switch (projectResult.status) {
      case Status.Completed:
        this.project = projectResult?.value![0];
        break;
      default:
        break;
    }

    let resultActivity = await this.activityService.get(
      this.project?.Activities
    );

    switch (resultActivity.status) {
      case Status.Completed:
        this.activities = resultActivity.value;
        this.totalActivities = this.activities?.length;
        this.noActivity = this.activities?.length === 0 ? true : false;
        break;
      default:
        break;
    }

    let resultTech = await this.techService.get(this.project?.Technicians);

    switch (resultTech.status) {
      case Status.Completed:
        resultTech?.value?.forEach((t: Technician) => {
          this.tech += t.Name + " " + t.Surname + ", ";
        });
        break;
      default:
        break;
    }

    this.loading = false;
  }

  async search(): Promise<void> {
    this.loading = true;

    let result = await this.activityService.filter(this.filter);

    switch (result.status) {
      case Status.Completed:
        this.loading = false;
        this.activities = result.value;
        this.noActivity = this.activities?.length === 0 ? true : false;
        break;
      default:
        break;
    }
  }
}
</script>
