<template>
  <div class="projects-view">
    <h3>Progetti</h3>

    <div
      class="project-card"
      v-for="(project, index) in projects"
      :key="index"
      @click="cardClick(project)"
    >
      <div>
        <h4>{{ project.Name }}</h4>
        <div>
          ATTIVITA'
          {{
            project.Activities.filter((a) => a.State === completed).length
          }}/{{ project.Activities.length }}
        </div>
        <div class="project-card-status">
          <div
            class="circle"
            :style="{
              backgroundColor:
                project.State === started || project.State === completed
                  ? 'green'
                  : project.State === stopped
                  ? 'orange'
                  : 'red',
            }"
          >
            <svg
              v-if="project.State === completed"
              class="svg-icon"
              viewbox="0 0 20 20"
            >
              <path
                fill="white"
                d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              ></path>
            </svg>
          </div>
          <div class="project-card-status-text">{{ project.State }}</div>
        </div>
      </div>
      <div class="project-card-information">
        <div>{{ project.Progress }}%</div>
        <div>N. Tecnici {{ project.Technicians.length }}</div>
        <div>{{ project.StartDate }} - {{ project.EndDate }}</div>
      </div>
    </div>

    <div class="table-pagination-limit">
      <span>Visualizza</span>
      <select v-model.number="pageNumber">
        <option v-for="i in totalProject" :key="i">
          {{ i }}
        </option>
      </select>
      <span>progetti</span>
    </div>
    <b-table
      :striped="true"
      :hover="true"
      :bordered="true"
      :outlined="true"
      :no-border-collapse="true"
      :responsive="true"
      :fields="fields"
      :busy="loading"
      :items="projects"
      :per-page="pageNumber"
      :current-page="currentPage"
      :no-provider-filtering="true"
      @row-clicked="projectDetails"
      class="projects-table"
    >
      <template #cell(State)="data">
        <div
          class="circle"
          :style="{
            backgroundColor:
              data.value === started || data.value === completed
                ? 'green'
                : data.value === stopped
                ? 'orange'
                : 'red',
          }"
        >
          <svg
            v-if="data.value === completed"
            class="svg-icon"
            viewbox="0 0 20 20"
          >
            <path
              fill="white"
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            ></path>
          </svg>
        </div>
      </template>
    </b-table>
    <b-pagination
      :total-rows="totalProject"
      :per-page="pageNumber"
      v-model="currentPage"
      class="table-pagination"
    >
    </b-pagination>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (max-width: 574px) {
  .project-card {
    display: flex;
  }
  .table-pagination-limit {
    display: none;
  }
  .projects-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .project-card {
    display: flex;
  }
  .table-pagination-limit {
    display: none;
  }
  .projects-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .project-card {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .projects-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .project-card {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .projects-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .project-card {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .projects-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
}

@media screen and (min-width: 1600px) {
  .project-card {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .projects-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
}

.project-card {
  width: 100%;
  height: 150px;
  flex-direction: row;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-status {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    &-text {
      margin-left: 10px;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: right;
  }
}

.projects-view {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

.table-pagination-limit {
  flex-direction: row;
  height: auto;
  align-items: center;
  margin-bottom: 20px;
}

.projects-table {
  height: auto;
  width: 100%;
}

.first-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: auto;
}

.mini-title {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.svg-icon {
  height: 20px;
  width: 20px;
}

.circle {
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import ProjectsService from "../services/ProjectsService";
import Technician from "@/models/Technician";
import Project from "@/models/Project";
import Filter from "@/models/Filter";
import { Status } from "@/models/Status";
import { State } from "@/models/State";

@Component
export default class ProjectsView extends Vue {
  private projectService: ProjectsService;
  private projects?: Array<Project>;

  private fields = [
    { key: "Name", sortable: true, label: "Nome" },
    { key: "StartDate", sortable: true, label: "Data Inizio" },
    { key: "EndDate", sortable: true, label: "Data Fine" },
    { key: "ExpectedTime", sortable: true, label: "Tempo Previsto" },
    { key: "WorkedTime", sortable: true, label: "Durata attuale" },
    { key: "State", sortable: false, label: "Stato" },
  ];

  private started: State;
  private stopped: State;
  private completed: State;
  private deleted: State;

  private loading: boolean;
  private noProject: boolean;

  private pageNumber: number;
  private currentPage: number;
  private totalProject?: number;

  private filter: Filter;

  private name?: string;
  private startDate?: string;
  private endDate?: string;
  private expectedHour?: number;
  private workedHour?: number;

  public constructor() {
    super();
    this.projectService = new ProjectsService();
    this.projects = new Array<Project>();

    this.started = State.Started;
    this.completed = State.Completed;
    this.stopped = State.Stopped;
    this.deleted = State.Deleted;

    this.loading = true;
    this.noProject = true;

    this.filter = {
      StartDate: this.startDate,
      EndDate: this.endDate,
      ExpectedTime: this.expectedHour,
      WorkedTime: this.workedHour,
      Name: this.name,
    };

    this.pageNumber = this.projects?.length;
    this.totalProject = this.projects?.length;
    this.currentPage = 1;
  }

  projectDetails(item: Project, index: number, event: any): void {
    this.$router.push({
      name: "ProjectIndex",
      params: { project: JSON.stringify(item) },
    });
  }

  async cardClick(project: Project): Promise<void> {
    this.$router.push({
      name: "ActivityView",
      params: { projectId: JSON.stringify(project?.ID) },
    });
  }

  async mounted(): Promise<void> {
    this.loading = true;

    let result = await this.projectService.get();

    switch (result.status) {
      case Status.Completed:
        this.loading = false;
        this.projects = result.value;
        this.totalProject = this.projects?.length;
        this.noProject = this.projects?.length === 0 ? true : false;
        break;
      default:
        break;
    }
  }

  async search(): Promise<void> {
    this.loading = true;

    let result = await this.projectService.filter(this.filter);

    switch (result.status) {
      case Status.Completed:
        this.loading = false;
        this.projects = result.value;
        this.noProject = this.projects?.length === 0 ? true : false;
        break;
      default:
        break;
    }
  }
}
</script>
