<template>
  <div class="project-index">
    <h2>Progetto</h2>
    <div class="project-index-form">
      <b-form>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group id="id" label="ID" label-for="id-input">
              <b-form-input
                id="id-input"
                :disabled="true"
                :value="project.ID"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group id="name" label="NOME" label-for="name-input">
              <b-form-input
                id="name-input"
                :disabled="true"
                :value="project.Name"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="start-date"
              label="DATA INIZIO"
              label-for="start-date-input"
            >
              <b-form-input
                id="start-date-input"
                :disabled="true"
                :value="project.StartDate"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="end-date"
              label="DATA FINE"
              label-for="end-date-input"
            >
              <b-form-input
                id="end-date-input"
                :disabled="true"
                :value="project.EndDate"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="assigned"
              label="ASSEGNATO A"
              label-for="assigned-input"
            >
              <b-form-textarea
                id="assigned-input"
                :disabled="true"
                :value="tech"
                rows="3"
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="sell-price"
              label="PREZZO VENDUTO"
              label-for="sell-price-input"
            >
              <b-form-input
                id="sell-price-for"
                :disabled="true"
                :value="project.SellPrice"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="cost"
              label="PREZZO DI VENDITA"
              label-for="cost-input"
            >
              <b-form-input
                id="cost-input"
                :disabled="true"
                :value="project.Cost"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="expected-hour"
              label="ORE PREVISTE"
              label-for="expected-hour-input"
            >
              <b-form-input
                id="expected-hour-input"
                :disabled="true"
                :value="project.ExpectedTime"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="worked-hour"
              label="DURATA ATTUALE"
              label-for="worked-hour-input"
            >
              <b-form-input
                id="worked-hour-input"
                :disabled="true"
                :value="project.WorkedTime"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group id="state" label="STATO" label-for="state-input">
              <b-form-input
                id="state-input"
                :disabled="true"
                :value="project.State"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="right-input-container">
            <b-form-group
              id="priority"
              label="PRIORITA'"
              label-for="priority-input"
            >
              <b-form-input
                id="priority-input"
                :disabled="true"
                :value="project.Priority"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
      </b-form>
      <div class="button-container">
        <b-button @click="navigate">Avanti</b-button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (max-width: 574px) {
  .project-index {
    display: none;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .project-index {
    display: none;
  }
}

.project-index {
  height: 100%;
  width: 100%;

  &-form {
    height: auto;
    width: auto;
  }
}

.left-input-container {
  width: 50%;
  padding-right: 15px;
}

.right-input-container {
  width: 50%;
  padding-left: 15px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import Project from "@/models/Project";
import Technician from "@/models/Technician";
import TechnicianService from "../services/TechnicianService";
import { Status } from "@/models/Status";

@Component
export default class ProjectIndex extends Vue {
  private project?: Project;
  private tech?: string;
  private technicianService: TechnicianService;

  public constructor() {
    super();
    this.technicianService = new TechnicianService();
    this.tech = "";
    this.project = JSON.parse(this.$route.params.project);
  }

  async mounted(): Promise<void> {
    let res = await this.technicianService.get(this.project?.Technicians);

    switch (res.status) {
      case Status.Completed:
        res.value?.forEach((t: Technician) => {
          this.tech += t.Name + " " + t.Surname + ", ";
        });
        break;
      default:
        break;
    }
  }

  async navigate(): Promise<any> {
    this.$router.push({
      name: "ActivityView",
      params: { projectId: JSON.stringify(this.project?.ID) },
    });
  }
}
</script>
