<template>
  <div class="tasks-view">
    <div class="modal" :style="{ display: isModalOpen ? 'block' : 'none' }">
      <div class="modal-title">
        <h3>{{ activity.Name }}</h3>
        <b-button variant="outline-danger" @click="isModalOpen = false"
          >X</b-button
        >
      </div>
      <div><b>ID:</b> {{ activity.ID }}</div>
      <div><b>Nome:</b> {{ activity.Name }}</div>
      <div><b>Data inizio:</b> {{ activity.StartDate }}</div>
      <div><b>Data fine:</b> {{ activity.EndDate }}</div>
      <div><b>Assegnato a:</b> {{ tech }}</div>
      <div><b>Prezzo venduto:</b> {{ activity.SellPrice }}</div>
      <div><b>Prezzo vendita:</b> {{ activity.Cost }}</div>
      <div><b>Ore previste:</b> {{ activity.ExpectedTime }}</div>
      <div><b>Durata attuale:</b> {{ activity.WorkedTime }}</div>
      <div><b>Stato:</b> {{ activity.State }}</div>
      <div><b>Priorità:</b> {{ activity.Priority }}</div>
    </div>

    <div class="header">
      <h3>{{ activity.Name }}</h3>
      <div class="triple-dots" @click="isModalOpen = true">
        <svg class="svg-icon-dots" viewBox="0 0 20 20">
          <path
            fill="black"
            d="M3.936,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021S5.957,11.116,5.957,10
								S5.052,7.979,3.936,7.979z M3.936,11.011c-0.558,0-1.011-0.452-1.011-1.011s0.453-1.011,1.011-1.011S4.946,9.441,4.946,10
								S4.494,11.011,3.936,11.011z M16.064,7.979c-1.116,0-2.021,0.905-2.021,2.021s0.905,2.021,2.021,2.021s2.021-0.905,2.021-2.021
								S17.181,7.979,16.064,7.979z M16.064,11.011c-0.559,0-1.011-0.452-1.011-1.011s0.452-1.011,1.011-1.011S17.075,9.441,17.075,10
								S16.623,11.011,16.064,11.011z M10,7.979c-1.116,0-2.021,0.905-2.021,2.021S8.884,12.021,10,12.021s2.021-0.905,2.021-2.021
								S11.116,7.979,10,7.979z M10,11.011c-0.558,0-1.011-0.452-1.011-1.011S9.442,8.989,10,8.989S11.011,9.441,11.011,10
								S10.558,11.011,10,11.011z"
          ></path>
        </svg>
      </div>
    </div>

    <div
      class="task-card"
      v-for="(task, index) in tasks"
      :key="index"
      @click="taskDetails(task)"
    >
      <div class="task-card-information-left">
        <h4>{{ task.Name }}</h4>
        <div class="task-card-status">
          <div
            class="circle"
            :style="{
              backgroundColor:
                task.State === started || task.State === completed
                  ? 'green'
                  : task.State === stopped
                  ? 'orange'
                  : 'red',
            }"
          >
            <svg
              v-if="task.State === completed"
              class="svg-icon"
              viewbox="0 0 20 20"
            >
              <path
                fill="white"
                d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              ></path>
            </svg>
          </div>
          <div class="task-card-status-text">{{ task.State }}</div>
        </div>
      </div>
      <div class="task-card-information">
        <div>{{ task.Progress }}%</div>
        <div>
          {{ task.StartDate }} -
          {{ task.EndDate }}
        </div>
      </div>
    </div>

    <h3 class="title">Tasks</h3>
    <div class="table-pagination-limit">
      <span>Visualizza</span>
      <select v-model.number="pageNumber">
        <option v-for="i in totalTasks" :key="i">
          {{ i }}
        </option>
      </select>
      <span>task</span>
    </div>
    <b-table
      :striped="true"
      :hover="true"
      :bordered="true"
      :outlined="true"
      :no-border-collapse="true"
      :responsive="true"
      :fields="fields"
      :busy="loading"
      :items="tasks"
      :per-page="pageNumber"
      :current-page="currentPage"
      @row-clicked="taskDetails"
      class="tasks-table"
    >
      <template #cell(State)="data">
        <div
          class="circle"
          :style="{
            backgroundColor:
              data.value === started || data.value === completed
                ? 'green'
                : data.value === stopped
                ? 'orange'
                : 'red',
          }"
        >
          <svg
            v-if="data.value === completed"
            class="svg-icon"
            viewbox="0 0 20 20"
          >
            <path
              fill="white"
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
            ></path>
          </svg>
        </div>
      </template>
    </b-table>
    <b-pagination
      :total-rows="totalTasks"
      :per-page="pageNumber"
      v-model="currentPage"
      class="table-pagination"
    >
    </b-pagination>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (max-width: 574px) {
  .task-card {
    display: flex;
  }
  .header {
    display: flex;
  }
  .table-pagination-limit {
    display: none;
  }
  .tasks-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
  .modal {
    display: block;
  }
  .title {
    display: none;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .task-card {
    display: flex;
  }
  .header {
    display: flex;
  }
  .table-pagination-limit {
    display: none;
  }
  .tasks-table {
    display: none;
  }
  .table-pagination {
    display: none;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
  .modal {
    display: block;
  }
  .title {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .task-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .tasks-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .task-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .tasks-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .task-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .tasks-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

@media screen and (min-width: 1600px) {
  .task-card {
    display: none;
  }
  .header {
    display: none;
  }
  .table-pagination-limit {
    display: flex;
  }
  .tasks-table {
    display: block;
  }
  .circle {
    height: 35px;
    width: 35px;
  }
  .modal {
    display: none !important;
  }
}

.tasks-view {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.modal {
  padding: 10px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  z-index: 1000;
  position: fixed;
  background-color: white;
  color: black;
  height: auto;
  width: 90%;
  top: 20%;
  left: 5%;
  word-wrap: break-word;
  word-break: keep-all;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
}

.task-card {
  width: 100%;
  height: 150px;
  flex-direction: row;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: space-between;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-status {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    &-text {
      margin-left: 10px;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: right;

    &-left {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      text-align: left;
    }
  }
}

select {
  margin-left: 15px;
  margin-right: 15px;
}

.table-pagination-limit {
  flex-direction: row;
  height: auto;
  align-items: center;
  margin-bottom: 20px;
}

.tasks-table {
  height: auto;
  width: 100%;
}

.header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    margin: 0;
  }
}

.first-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: auto;
}

.mini-title {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.triple-dots {
  height: 35px;
  width: 35px;
}

.svg-icon {
  height: 20px;
  width: 20px;

  &-dots {
    height: 35px;
    width: 35px;
    transform: rotate(90deg);
  }
}

.circle {
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: orange;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import TaskService from "../services/TaskService";
import Technician from "@/models/Technician";
import Task from "@/models/Task";
import { Status } from "@/models/Status";
import { State } from "@/models/State";
import Filter from "@/models/Filter";
import Activity from "@/models/Activity";
import ActivitiesService from "@/services/ActivitiesService";
import TechnicianService from "@/services/TechnicianService";

@Component
export default class TaskView extends Vue {
  private taskService: TaskService;
  private activityService: ActivitiesService;
  private techService: TechnicianService;

  private tasks?: Array<Task>;
  private activity?: Activity;
  private activityId?: string;

  private fields = [
    { key: "Name", sortable: true, label: "Nome" },
    { key: "StartDate", sortable: true, label: "Data Inizio" },
    { key: "EndDate", sortable: true, label: "Data Fine" },
    { key: "ExpectedTime", sortable: true, label: "Tempo Previsto" },
    { key: "WorkedTime", sortable: true, label: "Durata attuale" },
    { key: "State", sortable: false, label: "Stato" },
  ];

  private started: State;
  private stopped: State;
  private completed: State;
  private deleted: State;

  private loading: boolean;
  private noTask: boolean;
  private isModalOpen: boolean;

  private pageNumber: number;
  private currentPage: number;
  private totalTasks?: number;

  private tech?: string;

  private filter: Filter;

  private name?: string;
  private startDate?: string;
  private endDate?: string;
  private expectedHour?: number;
  private workedHour?: number;

  public constructor() {
    super();
    this.taskService = new TaskService();
    this.activityService = new ActivitiesService();
    this.techService = new TechnicianService();

    this.activityId = JSON.parse(this.$route.params.activityId);
    this.activity = {
      ID: this.activityId,
      Name: "",
      Cost: 0,
    };

    this.tasks = new Array<Task>();

    this.started = State.Started;
    this.completed = State.Completed;
    this.stopped = State.Stopped;
    this.deleted = State.Deleted;

    this.loading = false;
    this.noTask = false;
    this.isModalOpen = false;

    this.tech = "";

    this.filter = {
      StartDate: this.startDate,
      EndDate: this.endDate,
      ExpectedTime: this.expectedHour,
      WorkedTime: this.workedHour,
      Name: this.name,
    };

    this.pageNumber = 3;
    this.currentPage = 1;
    this.totalTasks = 0;
  }

  async taskDetails(item: Task, index: number, event: any): Promise<void> {
    this.$router.push({
      name: "TaskIndex",
      params: { task: JSON.stringify(item) },
    });
  }

  async mounted(): Promise<void> {
    this.loading = true;

    let activityResult = await this.activityService.get([this.activityId]);

    switch (activityResult.status) {
      case Status.Completed:
        this.activity = activityResult?.value![0];
        break;
      default:
        break;
    }

    let resultTask = await this.taskService.get(this.activity?.Tasks);

    switch (resultTask.status) {
      case Status.Completed:
        this.tasks = resultTask.value;
        this.totalTasks = this.tasks?.length;
        this.noTask = this.tasks?.length === 0 ? true : false;
        break;
      default:
        break;
    }

    let resultTech = await this.techService.get(this.activity?.Technicians);

    switch (resultTech.status) {
      case Status.Completed:
        resultTech?.value?.forEach((t: Technician) => {
          this.tech += t.Name + " " + t.Surname + ", ";
        });
        break;
      default:
        break;
    }

    this.loading = false;
  }

  async search(): Promise<void> {
    this.loading = true;

    let result = await this.taskService.filter(this.filter);

    switch (result.status) {
      case Status.Completed:
        this.loading = false;
        this.tasks = result.value;
        this.noTask = this.tasks?.length === 0 ? true : false;
        break;
      default:
        break;
    }
  }
}
</script>
