<template>
  <div class="task-index">
    <div class="task-index-card">
      <h2>{{ task.Name }}</h2>
      <div><b>ID:</b> {{ task.ID }}</div>
      <div><b>Nome:</b> {{ task.Name }}</div>
      <div><b>Data inizio:</b> {{ task.StartDate }}</div>
      <div><b>Data fine:</b> {{ task.EndDate }}</div>
      <div><b>Assegnato a:</b> {{ tech }}</div>
      <div><b>Prezzo venduto:</b> {{ task.SellPrice }}</div>
      <div><b>Prezzo vendita:</b> {{ task.Cost }}</div>
      <div><b>Ore previste:</b> {{ task.ExpectedTime }}</div>
      <div><b>Durata attuale:</b> {{ task.WorkedTime }}</div>
      <div><b>Stato:</b> {{ task.State }}</div>
      <div><b>Priorità:</b> {{ task.Priority }}</div>
    </div>

    <h3 class="title">Task</h3>
    <div class="task-index-form">
      <b-form>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group id="id" label="ID" label-for="id-input">
              <b-form-input
                id="id-input"
                :disabled="true"
                :value="task.ID"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group id="name" label="NOME" label-for="name-input">
              <b-form-input
                id="name-input"
                :disabled="true"
                :value="task.Name"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="start-date"
              label="DATA INIZIO"
              label-for="start-date-input"
            >
              <b-form-input
                id="start-date-input"
                :disabled="true"
                :value="task.StartDate"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="end-date"
              label="DATA FINE"
              label-for="end-date-input"
            >
              <b-form-input
                id="end-date-input"
                :disabled="true"
                :value="task.EndDate"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="assigned"
              label="ASSEGNATO A"
              label-for="assigned-input"
            >
              <b-form-textarea
                id="assigned-input"
                :disabled="true"
                :value="tech"
                rows="3"
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="sell-price"
              label="PREZZO VENDUTO"
              label-for="sell-price-input"
            >
              <b-form-input
                id="sell-price-for"
                :disabled="true"
                :value="task.SellPrice"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="cost"
              label="PREZZO DI VENDITA"
              label-for="cost-input"
            >
              <b-form-input
                id="cost-input"
                :disabled="true"
                :value="task.Cost"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group
              id="expected-hour"
              label="ORE PREVISTE"
              label-for="expected-hour-input"
            >
              <b-form-input
                id="expected-hour-input"
                :disabled="true"
                :value="task.ExpectedTime"
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="right-input-container">
            <b-form-group
              id="worked-hour"
              label="DURATA ATTUALE"
              label-for="worked-hour-input"
            >
              <b-form-input
                id="worked-hour-input"
                :disabled="true"
                :value="task.WorkedTime"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="input-group">
          <div class="left-input-container">
            <b-form-group id="state" label="STATO" label-for="state-input">
              <b-form-input
                id="state-input"
                :disabled="true"
                :value="task.State"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="right-input-container">
            <b-form-group
              id="priority"
              label="PRIORITA'"
              label-for="priority-input"
            >
              <b-form-input
                id="priority-input"
                :disabled="true"
                :value="task.Priority"
              ></b-form-input>
            </b-form-group>
          </div>
        </div>
      </b-form>
    </div>
    <div class="file-load">
      <div><b>Note</b></div>
      <div class="file">
        <div class="media-text">Aggiungi media</div>
        <b-button variant="outline-primary">+</b-button>
      </div>
    </div>
    <div class="input-group">
      <b-form-textarea
        id="note-input"
        :disabled="false"
        :value="note"
        rows="5"
      ></b-form-textarea>
    </div>
    <div class="button-container">
      <b-button
        class="start"
        @click="timerClick"
        :variant="timeStart ? 'danger' : 'success'"
        >{{ timeStart ? "Stop" : "Start" }}</b-button
      >
      <b-button variant="outline-primary" :disabled="timeStart"
        >Completato</b-button
      >
    </div>
  </div>
</template>

<style lang="scss" scoped>
@media screen and (max-width: 574px) {
  .task-index-form {
    display: none;
  }
  .media-text {
    display: none;
  }
  .title {
    display: none;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .task-index-form {
    display: none;
  }
  .media-text {
    display: none;
  }
  .title {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .task-index-card {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .task-index-card {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .task-index-card {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .task-index-card {
    display: none;
  }
}

.start {
  margin-right: 15px;
}

.media-text {
  margin-right: 10px;
}

.task-index {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;

  &-form {
    height: auto;
    width: auto;
  }
}

.left-input-container {
  width: 50%;
  padding-right: 15px;
}

.right-input-container {
  width: 50%;
  padding-left: 15px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.file-load {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import Task from "@/models/Task";
import Technician from "@/models/Technician";
import TechnicianService from "@/services/TechnicianService";
import { Status } from "@/models/Status";
import TaskService from "@/services/TaskService";
import { State } from "@/models/State";

@Component
export default class TaskIndex extends Vue {
  private techService: TechnicianService;
  private taskService: TaskService;

  private task?: Task;
  private tech?: string;
  private note?: string;
  private timeStart?: boolean;

  public constructor() {
    super();

    this.techService = new TechnicianService();
    this.taskService = new TaskService();

    this.timeStart = false;
    this.tech = "";
    this.note = "";
    this.task = JSON.parse(this.$route.params.task);
  }

  async mounted(): Promise<void> {
    let res = await this.techService.get(this.task.Technicians);

    switch (res.status) {
      case Status.Completed:
        res?.value?.forEach((t: Technician) => {
          this.tech += t.Name + " " + t.Surname + ", ";
        });
        break;
      default:
        break;
    }
  }

  async timerClick(): Promise<void> {
    this.timeStart = !this.timeStart;

    this.task.State = State.Started;

    this.taskService.start(this.task.Activity, this.task.Project);
  }
}
</script>
