<template>
  <div class="project" :key="key" :style="style">
    <div>{{ name }}</div>
    <div>{{ startDate }}</div>
    <div>{{ endDate }}</div>
    <div>{{ expectedTime }}</div>
    <div>{{ workedTime }}</div>
    <div>{{ state }}</div>
  </div>
</template>

<style lang="scss" scoped>
.project {
}
</style>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import Vue from "vue";
import { State } from "@/models/State";

@Component
export default class ProjectRow extends Vue {
  @Prop() private key!: number;
  @Prop() private name!: string;
  @Prop() private startDate!: Date;
  @Prop() private endDate!: Date;
  @Prop() private expectedTime!: number;
  @Prop() private workedTime!: number;
  @Prop() private state!: State;
  @Prop() private id!: string;

  style: any = { "background-color": this.key % 2 == 0 ? "white" : "gray" };
}
</script>
